<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'>
    <title>News Everyday</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navigation-contain">
      <div id="title" onclick=" location='/' ">
        <span>News Everyday </span>
      </div>
      <ul class="navigation">
        <li><a href="#">new</a></li>
        <li><a href="#">comments</a></li>
        <li><a href="#">show</a></li>
        <li><a href="#">ask</a></li>
        <li><a href="#">jobs</a></li>
        <li><a href="submit.html">submit</a></li>
      </ul>
    </div>
    <div id="news">
      <% for (var i = 0;i < list.length; i++){  %>
        <span><%=(i+1) %>.</span>
        <a href="/item.html?id=<%=list[i].id%>" style="text-decoration:none">
          <%= list[i].title %>
        </a>
        <p><%= list[i].detail %></p>
      <% } %>
    </div>
  </body>
</html>